@import url("common.css");
:root {
  --index: calc(1vw + 1vh);
  --gutter: 30px;
  --side-small: 26;
  --side-big: 36;
  --depth:7000px;
  --transition: 0.75s cubic-bezier(.075, .5, 0 , 1)
}
body{
    background-color: #000;
    color: #fff;
    font-size: calc(var(--index) * 1);
    line-height: 1.75;
    height: var(--depth);
    font-weight: 300;
    font-family: 'Segoe UI';
}
.conteiner{
    width: 100%;
    height: 100%;
    position: fixed;
    perspective: 1500px;
}
.gallary{
    transform-style: preserve-3d;
    height: 100%;
}
.frame{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition),opacity .75s ease;
    will-change: transform;
    transform-style: preserve-3d;
}
h1,h2,h3,h4{
  font-weight: 100;
}
.frame h2 {
  text-align: center;
  font-size: calc(var(--index) * 3.3);
}
.frame-media{
  position: relative;
  width: calc(var(--index) * var(--side-small));
  height: calc(var(--index) * var(--side-big));
  background-position: center;
  background-size: cover;
}
.frame-media__left{
  right: calc(var(--side-small) / 2 * var(--index) + var(--gutter));
}
.frame-media__right{
  left: calc(var(--side-small) / 2 * var(--index) + var(--gutter));
}
.frame_bg{
  background-color: rgb(0 0 0 / .88);
}
.text-right > * {
  position: relative;
  left: 18vw;
}
.text-left > * {
  position: relative;
  right: 18vw;
}
.frame h3{
  font-size: calc(var(--index) * 2);
}
.frame p {
  max-width: 40vw;
  margin-top: 3vh;
}
.model__window{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 100;
  background-color: #5a6270e7;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  display: none;
  top: 0;
  left: 0;
}
.model__content{
  width: calc(var(--index) * var(--side-big));
  background-color: #282f3a;
  height: calc(var(--index) * var(--side-big));
  border-radius: 4px;
}
.displayNone{
  display: none;
}
.text-big p{
  max-width: 60vw;
}
/* HEADER */

/* HEADER */

/* PAGE BODY */
.page__body {
  display: flex;
  flex-direction: column;
}
/* PAGE BODY  END*/

/* Firts Block */
.first__contein {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.first__text__block {
  flex: 1 1 auto;
  padding: 40px 30px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
.first__title {
  font-size: 48px;
  text-align: left;
  font-weight: 700;
}
.first__text {
  font-size: 24px;
  text-align: justify;
  /* flex: 1 1 auto; */
}
.button__text {
  background-color: #fff;
  width: 200px;
  text-align: center;
  padding: 10px 0;
  border-radius: 15px 0px 15px 0px;
  border: solid 1px #fff;
  transition: all 0.5s;
  font-size: 18px;
  font-weight: 600;
  color: #000;
  z-index: 99;
}
.button__text:hover {
  background-color: #282f3a;
  color: #fff;
}
.button__color {
  background-color: #282f3a;
  border: solid 1px #fff;
  color: #fff;
}
.button__color:hover {
  background-color: #fff;
  border: solid 1px #282f3a;
  color: #282f3a;
}
.text__color {
  color: #000;
}
.color {
  background-color: #282f3a;
  color: #fff;
}
/* Firts Block end */
